.footer {

    width: 100%;
    display: flex;
    min-height: 90px;
    flex-direction: column;
    align-items: flex-start;

}

.footer__button-container{

    display: flex;

}

.sub-footer__button-container{
    
    display: flex;
    margin: 10px 0;
    padding: 0 20px;
    min-width: 40px;
    min-height: 30px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: inset -1px 0 grey, inset -2px 0 #dfdfdf;

}

.footer__button{

    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #808080;

}

.play{

    width: 18px;
    height: 18px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);

}

.stop{

    clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 0, 65% 0, 65% 100%, 32% 100%, 36% 100%, 100% 100%, 100% 0%);

}

.next {

    clip-path: polygon(0% 30%, 0% 10%, 60% 50%, 60% 50%, 60% 50%, 50% 10%, 100% 50%, 50% 90%, 50% 0%, 60% 50%, 0% 90%, 0% 40%);

}

.prev {

    clip-path: polygon(50% 10%, 50% 50%, 100% 10%, 100% 90%, 50% 50%, 50% 90%, 0 50%);

}

.first {

    background: url("../../../assets/player/firstPage.svg");

}

.right {

    transform: rotate(180deg);

}

.button-player{

    width: 28px;
    height: 24px;
    display: flex;
    transition: 0.1s;
    align-items: center;
    justify-content: center;

}

.active-button{

    background-color: black;
    

}

.footer__control{

    margin: 5px;
    height: 10px;
    width: calc(100% - 10px);
    -webkit-appearance: none;
    background-color: whitesmoke;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;

    &::-webkit-slider-thumb {

        width: 16px;
        height: 22px;
        background-color: gray;
        -webkit-appearance: none;
        box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
        clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 25%, 70% 26%, 70% 75%, 35% 75%, 35% 100%, 100% 100%, 100% 0%);

    }

}

.audio-slider-container{

    width: 200px;
    display: flex;

}

.diactive{

    opacity: 0.35;

}

.active {

    background-color: black;

}

.active-hover {

    cursor: pointer;

    &:hover{
        
        background-color: whitesmoke;
        box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;

    }

}

.button-player .active-button:hover{

    background-color: red;

}

.active-button{

    background-color: whitesmoke;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;

}

.audio-range{

    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    background: transparent;
    -webkit-appearance: none;

    &::-webkit-slider-runnable-track {

        width: 100%;
        height: 100%;
        background-color: silver;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);

    }

}

.audio-range-shadow{

    display: flex;    
    margin-left: 5px;
    align-items: flex-end;
    justify-content: center;
    background-color: silver;

}